body{
  background-color: black;
}
h1{
  color: white;
  font-family: monospace;
  text-align: center;
  font-weight: 100;
  font-size: 50px;
}
h2{
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}
.photo{
  width: 300px;
  border-radius: 100px;
  margin-bottom: 5px;
}
h3{
  color: white;
  font-family: monospace;
}
.btn{
  margin-top: 50px;
  display: block;
  padding: 5px;
}
.insta{
  margin-top: 50px;
  width: 80px;
}
h5{
  color: white;
  font-family: monospace;
  font-weight: 100;
  font-size: 15px;
}
.aboutphoto{
  height:650px;
  float: right;
  border: 2px solid white;
  border-radius: 50px;
}
p{
  color: white;
}
